<div class="loginField">
	<input class="inputText mediumInput" placeholder="Login" type="text" data-bind="value:login, events:['keyup']"/>
</div>
<div class="passwordField">
	<input class="inputText mediumInput" placeholder="Password" type="password" data-bind="value:password, events:['keyup']"/>
</div>
<div class="conformPasswordField">
	<input class="inputText mediumInput" placeholder="Confirm new password" type="password" data-bind="value:confirmPassword, events:['keyup']"/>
</div>
<div class="host">
	<input class="inputText mediumInput" placeholder="Host" type="password" data-bind="value:host, events:['keyup']"/>
</div>
<div class="port">
	<input class="inputText mediumInput" placeholder="Host" type="password" data-bind="value:host, events:['keyup']"/>
</div>