.loginView {
	width: 960px;
	margin-left: auto;
  	margin-right: auto;
}

.loginView .loginForm {
	width: 440px;
	margin-right: auto;
  	margin-left: auto;
  	margin-top: 65px;
}

.loginView .loginForm .content .inputText {
	width: 380px;
}

.loginView .loginForm .header .title {
	font-size: 35px;
}